<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="Detalle Mantenimiento"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_id}" style="display: none;"/>
                    <h:outputText value="#{mantenimientosController.selected.id}" title="#{bundle.ViewMantenimientosTitle_id}" style="display: none;"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_tipoMantenimiento}"/>
                    <h:outputText value="#{mantenimientosController.selected.tipoMantenimiento}" title="#{bundle.ViewMantenimientosTitle_tipoMantenimiento}"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_fechaEntrada}"/>
                    <h:outputText value="#{mantenimientosController.selected.fechaEntrada}" title="#{bundle.ViewMantenimientosTitle_fechaEntrada}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_fechaSalida}"/>
                    <h:outputText value="#{mantenimientosController.selected.fechaSalida}" title="#{bundle.ViewMantenimientosTitle_fechaSalida}">
                        <f:convertDateTime pattern="dd/MM/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_fallaPrincipal}"/>
                    <h:outputText value="#{mantenimientosController.selected.fallaPrincipal}" title="#{bundle.ViewMantenimientosTitle_fallaPrincipal}"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_fallaSecundaria}"/>
                    <h:outputText value="#{mantenimientosController.selected.fallaSecundaria}" title="#{bundle.ViewMantenimientosTitle_fallaSecundaria}"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_estado}" style="display: none;"/>
                    <h:outputText value="#{mantenimientosController.selected.estado}" title="#{bundle.ViewMantenimientosTitle_estado}" style="display: none;"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_idTaller}"/>
                    <h:outputText value="#{mantenimientosController.selected.idTaller}" title="#{bundle.ViewMantenimientosTitle_idTaller}"/>
                    <h:outputText value="#{bundle.ViewMantenimientosLabel_idVehiculo}"/>
                    <h:outputText value="#{mantenimientosController.selected.idVehiculo}" title="#{bundle.ViewMantenimientosTitle_idVehiculo}"/>
                </h:panelGrid>
                <br />
                <h:commandLink class="btn btn-danger btn-sm" action="#{mantenimientosController.destroyAndView}" value="#{bundle.ViewMantenimientosDestroyLink}"/>
                 &nbsp;&nbsp;
                 <h:link  class="btn btn-warning btn-sm" outcome="Edit" value="#{bundle.ViewMantenimientosEditLink}"/>
                 &nbsp;&nbsp;
                 <h:commandLink class="btn btn-info btn-sm" action="#{mantenimientosController.prepareCreate}" value="#{bundle.ViewMantenimientosCreateLink}" />
                &nbsp;&nbsp;
                <h:commandLink class="btn btn-success btn-sm" action="#{mantenimientosController.prepareList}" value="#{bundle.ViewMantenimientosShowAllLink}"/>
                 &nbsp;&nbsp;
                 <h:link class="btn btn-dark btn-sm" outcome="/index" value="#{bundle.ViewMantenimientosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
