<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewTiposusuarioTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewTiposusuarioLabel_id}"/>
                    <h:outputText value="#{tiposusuarioController.selected.id}" title="#{bundle.ViewTiposusuarioTitle_id}"/>
                    <h:outputText value="#{bundle.ViewTiposusuarioLabel_descripcion}"/>
                    <h:outputText value="#{tiposusuarioController.selected.descripcion}" title="#{bundle.ViewTiposusuarioTitle_descripcion}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{tiposusuarioController.destroyAndView}" value="#{bundle.ViewTiposusuarioDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewTiposusuarioEditLink}"/>
                <br />
                <h:commandLink action="#{tiposusuarioController.prepareCreate}" value="#{bundle.ViewTiposusuarioCreateLink}" />
                <br />
                <h:commandLink action="#{tiposusuarioController.prepareList}" value="#{bundle.ViewTiposusuarioShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewTiposusuarioIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
