<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="LISTADO DE USUARIOS"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListUsuariosEmpty}" rendered="#{usuariosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{usuariosController.items.rowCount > 0}">
                    <h:commandLink action="#{usuariosController.previous}" value="#{bundle.Previous} #{usuariosController.pagination.pageSize}" rendered="#{usuariosController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{usuariosController.next}" value="#{bundle.Next} #{usuariosController.pagination.pageSize}" rendered="#{usuariosController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{usuariosController.items}" var="item" class="table table-hover" style="width: 40%;">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_nombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.nombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListUsuariosTitle_pass}"/>
                            </f:facet>
                            <h:outputText value="#{item.pass}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="Acciones"/>
                            </f:facet>
                            <h:commandLink class="btn btn-info btn-sm" action="#{usuariosController.prepareView}" value="#{bundle.ListUsuariosViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink class="btn btn-warning  btn-sm" action="#{usuariosController.prepareEdit}" value="#{bundle.ListUsuariosEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink class="btn btn-danger  btn-sm" action="#{usuariosController.destroy}" value="#{bundle.ListUsuariosDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink class="btn btn-success" action="#{usuariosController.prepareCreate}" value="#{bundle.ListUsuariosCreateLink}"/>
                &nbsp;&nbsp;
                <h:link class="btn btn-dark" outcome="/index" value="#{bundle.ListUsuariosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
